<title>Minha Conta - Hotel Luxury Bela Vista</title>
<!--CSS Minha Conta-->
    <link rel="stylesheet" type="text/css" href="../css/minhaConta.css">
    <link rel="stylesheet" type="text/css" href="../css/popupReservado.css">

<body>

    <!-- Grid CSS -->
    <div class="d-grid-mC">

        <!-- Container azul (que contem os titulos) -->
        <div id="d-containerAzul-mC" style="z-index: 7;">
            <h2 class="text-white text-center">Dados Pessoais</h2>
            <h2 class="text-white text-center">Minhas Reservas</h2>
            <div>
                <a href="/" class="text-white text-center">Voltar para a Home</a>
            </div>
        </div>
        <!-- Fim do Container azul -->

        <!-- Parte direita (com os dados pessoais e reservas) -->
        <div id="d-containerBranco-mC">
            <!-- Dados Pessoais -->
            <div id="d-dadosPessoais">

                <ul style="text-align: center; font-size: 2vw">

                    {{#if messages.success_msg}}
                        <li >{{messages.success_msg}}</li>
                    {{/if}}

                    {{#if messages.error_msg}}
                        <li >{{messages.error_msg}}</li>
                    {{/if}}

                </ul>

                <h2>Dados Pessoais</h2>
                <!-- Formulário para atualizar os dados do usuário -->

                <form action="/usuario/alterar" id="updateUser" method="POST">
                    <div class="d-camposDadosPessoais-mC">
                        <label for="nome_user">Nome:</label>
                        <input type="name" name="nome_user" id="nome_user" value="{{Cliente.Nome}}" required>
                    </div>
                    <div id="d-email-mC" class="d-camposDadosPessoais-mC">
                        <label for="email_user">Email:</label>
                        <input type="email" name="Email" id="email_user" value="{{Cliente.Email}}" readonly>
                        <img src="../img/minhaConta/cadeado.png" alt="Icone de Cadeado">
                    </div>
                    <div id="updaterSenhaUser" class="d-camposDadosPessoais-mC">
                        <label for="senha_user">Senha Atual:</label>
                        <input type="password" name="senha_atual_user" id="senha_user" required>
                    </div>
                    <div id="updaterSenhaUser" class="d-camposDadosPessoais-mC">
                        <label for="senha_user">Nova Senha:</label>
                        <input type="password" name="senha_user" id="senha_user" value="" required>
                        <button type="submit" class="btn-azul-mC text-white">Alterar</button>
                    </div>
                </form>
            </div>
            <!-- Fim dos Dados Pessoais -->

            <!-- Minhas reservas -->
            <div id="d-minhasReservas-mC">
                <h2>Minhas Reservas</h2>
                <a href="/quartos" class="btn-azul-mC text-white">Fazer uma nova reserva</a>
                <!-- Iteração sobre cada reserva -->
                {{#each Reserva}}
                {{#dataValues}}
                <div class="d-grid-reserva-mC">
                    <div class="d-cartaoCinza-mC">
                        <div class="d-fitaVermelha-mC"></div>
                        
                        <!-- Informações da reserva -->
                        <form action="/usuario/editar_reserva" class="reserva-form" method="POST">

                            <input type="text" name="id" hidden value="{{id}}">

                            <h2>Reserva - {{Quarto}}</h2>
                            <!-- Campo Chegada -->
                            <div class="d-camposReservasInfo-mC">
                                <label for="chegada_res">Chegada:</label>
                                <input type="date" name="chegada_res" id="chegada_res" value="{{Chegada}}">
                            </div>
                            <!-- Campo Partida -->
                            <div class="d-camposReservasInfo-mC">
                                <label for="partida_res">Partida:</label>
                                <input type="date" name="partida_res" id="partida_res" value="{{Partida}}">
                            </div>
                            <!-- Campo N° de Pessoas -->
                            <div class="d-camposReservasInfo-mC">
                                <label for="num-pessoas_res">N° de Pessoas:</label>
                                <input type="number" name="num_pessoas_res" id="num-pessoas_res" value="{{Qntd_Pessoas}}">
                            </div>
                            <!-- Campo Observações -->
                            <div class="d-camposReservasInfo-mC">
                                <label for="observacao_res">Observações:</label><br>
                                <textarea name="observacao_res" id="observacao_res">{{Observacao}}</textarea>
                            </div>

                            <button type="submit" style="float: right;"> Editar Reserva

                        </form>
                        <form action="/usuario/excluir_res" method="POST">
                            <input type="text" name="id" hidden value="{{id}}">

                            <button type="submit"> Cancelar Reserva </button>
                        </form>
                    </div>
                </div>
                {{/dataValues}}
                {{/each}}
            </div>
            <!-- Fim das Minhas reservas -->
        </div>
        <!-- Fim da parte direita -->
    </div>
    <!-- Fim da Grid Taiwind -->

</body>